[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "yaleBraille"]
	path = yaleBraille
	url = https://github.com/wininger/yalebraille
